.restaurantSection {
    width:70%; 
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 100px;
    height: auto;
    
}
.restaurantSection img {
    width: 130px;
    height: 130px;
    float: right;
    padding: 3px;
}
.restaurant-info {
    margin-bottom: 50px;
    margin-top: 30px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
}
.restaurant-info img {
    float: right;
    border-radius: 50%;
    width: 130px;
    height: 116px;
    margin-top: 20px;
    margin-right: 10px;
}
.items {
    margin-bottom: 20px;
    height: 200px;
    border-bottom: 1px solid black;
}
.res-name {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-right: 770px;
    margin-top: 10px;
    color: brown;
}
.res-name:hover {
    font-style: oblique;
    color: orange;
}
.res-area {
    margin-bottom: 15px;
    margin-top: 20px;
    margin-right: 770px;
    font-size: 16px;
    font-family: cursive;
}
.res-area:hover {
    color: white;
    background-color: darkgreen;
    font-size: 18px;
}
.res-city {
    margin-right: 770px;
    font-size: 16px;
    font-family: cursive;
}
.res-city:hover {
    color: white;
    font-size: 18px;
    background-color: darkcyan;
}
.res-rating {
    margin-left: 0;
    margin-right: 720px;
    margin-top: 20px;
    font-size: 16px;
    color:darkorange;
    font-weight: bolder;
    padding-left: 3px;
    padding-right: 3px;
}
.res-rating span{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5px;
    font-family: cursive;
    font-size: 16px;
}
.DishName {
    margin-right: 790px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.DishName:hover {
    color: white;
    background-color: firebrick;
    font-style: italic;
}
.category {
    font-size: 14px;
    margin-right: 750px;
    padding-left: 5px;
    font-size: 12px;
    font-weight:900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.category:hover {
    color: white;
    background-color: indianred;
    font-style: oblique;
    font-size: 14px;
}
.desc {
    margin-right: 50px;
    font-size: 14px;
    font-family: cursive;
    display: none;
}
.items img {
    position: relative;
}
.cartcount {
    position: absolute;
    margin-left: 445px;
    margin-top: 0;
    background-color : green;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}
.price {
    margin-right : 70px;
    margin-top: 20px;
    color: firebrick;
    font-weight: bolder;
    font-style: oblique;
}
.remove-btn {
    position: absolute;
    color: white;
    background-color: green;
}
